.contentStyle {
    text-align: center;
    height: 80vh;
    width: 100vw;
    color: #000000;
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
