.MenuJS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
}

.ant-drawer {
  height: 100vh;
}

.MenuList {
  height: 80vh;
  z-index: 10;
}

.ButtonMenuJS {
  width: 70px;
  height: 70px;
  padding: 0;
}
.ButtonMenuJS span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ButtonMenuJS span svg {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 1000px) {
  .ButtonMenuJS {
    width: 10vh;
    height: 10vh;
  }
  .ButtonMenuJS span {
    width: 10vh;
    margin: 0;
  }
  .ButtonMenuJS span svg {
    width: 6vh;
    height: 6vh;
    margin: 25% 0;
  }
}

.DrawerMenuJS {
  background-color: white;
}
.DrawerMenuJS .ant-menu-submenu-title {
  background-color: #efefef;
}
@media screen and (max-width: 1000px) {
  .DrawerMenuJS .ant-menu-item {
    height: 7vh;
  }
  .DrawerMenuJS .ant-menu-submenu .ant-menu-submenu-title {
    height: 7vh;
  }
  .DrawerMenuJS .ant-menu-submenu li {
    height: 7vh;
  }
  .DrawerMenuJS .ant-menu-submenu span {
    height: 7vh;
  }
  .DrawerMenuJS span {
    font-size: 2vh;
    height: 7vh;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .DrawerMenuJS span svg {
    width: 3vh;
    height: 3vh;
  }
}