.headerStyle {
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 16px);
    text-align: center;
    color: #fff;
    height: 10vh;
    padding-inline: 50px;
    line-height: 64px;
    background-color: #4682B4;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
