.App {
  font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 16px);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


