.ListStore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 520px;
  height: 80vh;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
}
@media screen and (max-width: 1000px) {
  .ListStore {
    width: 90vw;
  }
}

.CardStore {
  width: 500px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1000px) {
  .CardStore {
    width: 90vw;
  }
}

.ListStore::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(61, 91, 215, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.ListStore::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.ListStore::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(61, 91, 215, 0.3);
  background-color: #555;
}